[Unit]
Description = SonarQube Service

[Service]
User=sonar
ExecStart=/opt/sonarqube/sonarqube-25.1.0.102122/bin/linux-x86-64/sonar.sh start
SyslogIdentifier=sonarqube
Type=forking

[Install]
WantedBy=multi-user.target
